body {
    margin: 0;
    padding: 0;
    background-color: #E9BF63;
    background-image: url('https://garden.spoonflower.com/c/4145254/p/f/m/KwPE9K7h79Xmg91LmuPWIA93haVeUJMQinQcnu0bg1ZebMBmKrnk3Q/White%20on%20Mustard%20Yellow%20%7C%20Doodled%20Line%20Art%20Pattern.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

        header {
            background-color: #000000;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1, nav ul li a {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            text-decoration: none;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 10px;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        main {
            padding: 20px;
        }

        .about {
            background-color:black;
            opacity:90%;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            color:white;
        }

        button {
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        #contactbtn{
            background-color:gold;
            color:black;
        }
        #missionBtn{
            background-color:gold;
            color:black;
        }

        button:hover {
            background-color: #555;
        }

        .hidden {
            display: none;
        }
        #contact{
            background-color: black;
            color: white;
            width:100%;
            margin-top:10px;
            margin-bottom: 0%;
            
        }
        #contactheading{
            
            text-align:center;
            font-size:30px;
        }
        #contactdetails{
            text-align:center;
            font-size:20px;
            margin:10px;
        }