body {
    margin: 0;
    padding: 0;
    background-color: #E9BF63;
    background-image: url('https://garden.spoonflower.com/c/4145254/p/f/m/KwPE9K7h79Xmg91LmuPWIA93haVeUJMQinQcnu0bg1ZebMBmKrnk3Q/White%20on%20Mustard%20Yellow%20%7C%20Doodled%20Line%20Art%20Pattern.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Tinmes New Roman', serif;
    color : white;
}

        header {
            background-color: black;
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

        nav ul li a:hover {
            color: black;
            background-color: gold;
            border-radius: 32px;
            padding: 4px 8px;
        }

        main {
            padding: 20px;
            background-color: black;
            border-radius: 8px; 
            margin: 20px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            opacity:90%;
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            color: white;
            font-size: 40px;    
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            font-size: 18px;
            margin-bottom: 10px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }